<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wanho.mapper.StoreCheckMapper">

    <resultMap id="BaseResultMap" type="net.wanho.po.StoreCheck">
            <id property="checkId" column="check_id" jdbcType="INTEGER"/>
            <result property="storeId" column="store_id" jdbcType="INTEGER"/>
            <result property="recordId" column="record_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="batchId" column="batch_id" jdbcType="INTEGER"/>
            <result property="checkNum" column="check_num" jdbcType="DECIMAL"/>
            <result property="checkTime" column="check_time" jdbcType="DATE"/>
            <result property="checkUser" column="check_user" jdbcType="VARCHAR"/>
            <result property="lossNum" column="loss_num" jdbcType="DECIMAL"/>
            <result property="reson" column="reson" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        check_id,store_id,record_id,
        product_id,batch_id,check_num,
        check_time,check_user,loss_num,
        reson
    </sql>
</mapper>
